*{
  margin: 0px;
}
header{
    height: 170px;    
    background-image: url(img/pattern_header.3.webp);
    background-color: white;
    }

.title{
    font-family: 'Franklin Gothic Medium';
    font-size: 5em;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.172);
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.274);
    height: 4em;
    align-items: center;
    list-style: none;
    text-decoration:none;
    color: black;
    font-weight: bolder;
   
}
a{
    text-decoration:none;
    color: black;
    font-size: xx-large;
}

.container{
    margin: 1em 4em 1em 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;}
 .container2{
        margin: 1em 4em 1em 3em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
}
.subcontainer{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    border: 2px solid rgb(167, 167, 167);
    border-radius: 20px;
    padding: 1em 3em 1em 3em;
    justify-content: space-between;}
    
    
    .subcontainer2{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        border: 2px solid rgb(167, 167, 167);
        border-radius: 20px;
        padding: 1em 3em 1em 3em;
    
}
.midtitle{
    width: 100vw;
    font-size: 3em;
    font-weight: 500;
    padding: 5px;
    display: flex;
    align-content: center;
}

.text{
    width: 70%;
    font-size:larger;
    



}
.text2{
    width: 95%;
    font-size:larger;

}
.text3{
    width: 70%;
    font-size:x-large

}


.img-text1{
    width: 400px ;
}
.img-text2{
    width: 200%;
}
.img-text3{
    width: 400px;
    border-radius: 50%;
}

footer{
    padding: 3em;
    background-color: rgb(213, 214, 214);
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 7em;
    text-shadow: 4px 4px rgba(255, 255, 255, 0.324);
}

.location{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
input, select{
    height: 25px;
    border: solid 2px rgb(189, 187, 187);
    border-radius: 2px;}

.card{
    width: 400px;
    paddinf: 5px;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 10px;
}
.cardimg1{
    
    background-image: url(img/card1.webp);
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin: 5px;
}
.cardtitle{
    height: 2em;
    background-color: rgb(189, 189, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding-top: 5px;
    font-style: italic;
    font-weight: bolder;
}
.carddescription{
    margin: 1em;
    
}

.cardimg2{
    
    background-image: url(img/card2.webp);
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin: 5px;
}


.cardimg3{
    
    background-image: url(img/card3.webp);
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin: 5px;
}